:root {
    --ff: "Poppins", "Poppins Placeholder", sans-serif;
    --odzadje: #25274d;
    --pisava1: #fff;
    --pisava2: #464866ec;
    --pisava3: #6b6e70;
    --pisava4: #2e9cca;
    --pisava5: #29648a;
}

html {
    scroll-behavior: smooth;
    /* padding: 100px 60px 0 20px; */
}

body {
    background-color: var(--odzadje);
    font-family: var(--ff);
    /* overflow-wrap:normal; */
    padding: 10px 60px 0 20px;
    margin: 10px 60px;
}

body {
    background-image: url("slike/175434746696.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-blend-mode: soft-light;
    /* background-blend-mode: darken; */
}

header {
    height: 50px;
    display: flex;
    justify-content: center;
    /* border: #ff0000 solid; */
}

.options {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    padding: 10px;
    border: #2e9bcacb solid;
    background-color: var(--pisava2);
}

.ikone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    filter: invert(46%) sepia(48%) saturate(994%) hue-rotate(150deg) brightness(101%) contrast(106%);   
    /* border: #000000 solid; */


        position: relative;
        display: inline-block;

      
} 

.ikone .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    margin: 10px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
  left: 50%;
  margin-left: -60px;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
  }

h1 {
    color: var(--pisava1);
    font-size: 40px;
}

p {
    color: var(--pisava1);
    font-size: 25px;
}

.vsebina {
    display: flex;
    gap: 30px;
    margin: 10px ;
    /* border: #ff0000 solid; */
}

.levo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: #ff0000 solid; */
}

.okolje-slike {
    margin: 20px 40px 50px 40px;
    padding: 20px;
    background-color: var(--pisava2);
    border-radius: 50px;
    /* border: var(--pisava4) solid; */
    box-shadow: 0px 0px 30px #000000;
} 

.okolje-slike:hover {
    transition: 0.1s;
    transform: scale(1.02);
    border: var(--pisava4) solid;
    box-shadow: 0px 0px 9px var(--pisava4);
}

.moja-slika {
    display: flex;
    justify-content: center;
}

.moja-slika img {
    box-shadow: 0px 0px 30px #000000;
    width: 60%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
    border: var(--pisava4) solid;
}

.opis {
    text-align: center;
}

.nav-bar {
    position: sticky;
    top: 10px;
    background-color: var(--pisava2);
    border-radius: 50px;
    border: var(--pisava4) solid;
    box-shadow: 0px 0px 30px #000000;
    margin: 40px;
}

.nav-bar:hover {
    transition: 0.2s;
    transform: scale(1.005);
    box-shadow: 0px 0px 9px var(--pisava4);
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    width: 300px;
    /* background-color: #ffc403; */
    background-color: transparent;
    border-radius: 30px;
    /* position: fixed; */
}

li a {
    display: block;
    color: black;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
}

li a:hover {
    background-color: #112431;
    color: #ffc403;
    /*tukaj lahko dodaš kasneje da se samo text poveča ko hoveraš*/
}



.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    /* margin: 100px; */
    gap: 100px;
    padding: 50px 40px;
    /* border: #ff0000 solid; */

}

.main h1 {
    font-size: 45px;
} 

.main p, a {
    color: rgb(203, 209, 209);
    font-size: 25px;
    /* font-weight:bold; */
    text-decoration: none;
    line-height: 1.5;
}

.container {
    border-radius: 30px;
    background-color: #46486680;
}

.container:hover {
    
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 0 0 30px black;
    background-color: var(--pisava2);
}

.slike-projektov {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: nowrap;

}

.slike-projektov img {
    width: 100%;
    transition: transform 0.5s;
    border-radius: 20px;
}

.slike-projektov img:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px #000000;
}

.exp {
    /* border: #ffc403 solid; */
    margin: 40px 0px;
}

.exp:hover {
    display: block;
    background-color: #456794;
    transition: 0.4s;
    border-radius: 20px;
}

.exp a {
    display: block;
    background-color:transparent;
    text-shadow: 15px 20px 9px black;
    border-radius: 20px;
}

.exp a:hover {
    display: block;
    color: #ffc403;
    /* font-weight: bold; */
    transform: scale(0.9);
    text-shadow: 7px 12px 7px black;
}

.future a {
    display: block;
    background-color: transparent;
    border-radius: 20px;
    color: var(--pisava1);
    text-shadow: 15px 20px 9px black;
}

.future a:hover {
    display: block;
    color: #ffc403;
    font-weight: bold;
    transform: scale(0.9);
    text-shadow: 7px 12px 7px black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: #456794;
    border-radius: 100px 100px 10px 10px;
}

