:root {
    --ff: 'Courier New', Courier, monospace;
    --odzadje: #25274d;
    --pisava1: #fff;
    /* --pisava2: #474b4f;
    --pisava3: #6b6e70;
    --pisava4: #86c232;
    --pisava5: #61892f; */

    --pisava2: #464866;
    --pisava3: #6b6e70;
    --pisava4: #2e9cca;
    --pisava5: #29648a;
    --h1:   font-weight: bold;
            font-size: 64px;
            line-height:72px;
            font-family: var(--ff);
    --p:   font-weight: none;
           font-size: 18px;
           line-height:30px;
           font-family: var(--ff);
}

body {
    background-color: var(--odzadje);
    font-family: var(--ff);
    /* overflow-wrap:normal; */
}

h1 {
    color: var(--pisava1);
}

p {
    color: var(--pisava4);
}

.levo {
    float: left;
    margin: 30px 80px 0 50px;
    position: sticky;
    top: 0;
}

.levo1 {
    display: block;
    background-color: var(--pisava2);
    width: 330px;
    height: 500px;
    border-radius: 50px;
    border: var(--pisava4) solid;
    box-shadow: 0px 0px 30px #000000;
}

.moja-slika img {
    width: 100%;
    height: 100%;
    max-width: 250px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: inset 0px 0px 30px 10px #000000;
}

.moja-slika {
    display: block;
    background-color: var(--pisava1);
    width: 250px;
    height: 250px;
    border-radius: 50px;
    border: solid var(--pisava4) 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.levo1 p {
    /* font-weight: bold; */
    font-size: larger;
    color: var(--pisava1);
    text-align: center;
}

.levo1 h1 {
    font-weight: bold;
    color: var(--pisava1);
    text-align: center;
}

.nav-bar {
    margin-left: -31px;
}

ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
    width: 300px;
    background-color: #ffc403;
    border-radius: 30px;
    /* position: fixed; */
}

li a {
    display: block;
    color: rgb(5, 7, 7);
    padding: 20px 30px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

li a:hover {
    background-color: #112431;
    color: #ffc403;
    /*tukaj lahko dodaš kasneje da se samo text poveča ko hoveraš*/
}



.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    margin: 100px;
    gap: 60px;
    padding: 0px 100px;

}

.main h1 {
    display: block;
    font-size: 60px;
} 

.main p, a {
    color: rgb(203, 209, 209);
    font-size: 30px;
    /* font-weight:bold; */
    text-decoration: none;
    line-height: 1.5;
}

.slike-projektov {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: nowrap;
    
}

.slike-projektov img {
    width: 100%;
    transition: transform 0.5s;
    
}

.slike-projektov img:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px #000000;
    border-radius: 10px;
}

.exp {
    /* border: #ffc403 solid; */
    margin: 30px 0px;
}

.exp:hover {
    display: block;
    background-color: #456794;
    transition: 0.4s;
    border-radius: 20px;
}

.exp a {
    display: block;
    background-color: #456794;
    border-radius: 20px;
}

.exp a:hover {
    display: block;
    color: #ffc403;
    font-weight: bold;
    font-size: larger;
}